@page
@model AuthWithCookie.Pages.Account.LogoutModel
@{
    ViewData["Title"] = "Logout";
}

<h2>Logout</h2>

<form method="post">
    <button type="submit" class="btn btn-primary">Log out</button>
</form>